net "show_index<0>" loc = "p191"; 
net "show_index<1>" loc = "p190"; 
net "show_index<2>" loc = "p196"; 
net "show_index<3>" loc = "p194"; 
net "show_index<4>" loc = "p198"; 
net "Register_return<0>" loc = "p139"; 
net "Register_return<1>" loc = "p140"; 
net "Register_return<2>" loc = "p137"; 
net "Register_return<3>" loc = "p138"; 
net "Register_return<4>" loc = "p133"; 
net "Register_return<5>" loc = "p135"; 
net "Register_return<6>" loc = "p131"; 
net "Register_return<7>" loc = "p132"; 
net "Register_return<8>" loc = "p149"; 
net "Register_return<9>" loc = "p150"; 
net "Register_return<10>" loc = "p147"; 
net "Register_return<11>" loc = "p148"; 
net "Register_return<12>" loc = "p144"; 
net "Register_return<13>" loc = "p146"; 
net "Register_return<14>" loc = "p141"; 
net "Register_return<15>" loc = "p143"; 
net "Register_return<16>" loc = "p181"; 
net "Register_return<17>" loc = "p176"; 
net "Register_return<18>" loc = "p172"; 
net "Register_return<19>" loc = "p175"; 
net "Register_return<20>" loc = "p169"; 
net "Register_return<21>" loc = "p168"; 
net "Register_return<22>" loc = "p167"; 
net "Register_return<23>" loc = "p171"; 
net "Register_return<24>" loc = "p165"; 
net "Register_return<25>" loc = "p166"; 
net "Register_return<26>" loc = "p161"; 
net "Register_return<27>" loc = "p162"; 
net "Register_return<28>" loc = "p155"; 
net "Register_return<29>" loc = "p156"; 
net "Register_return<30>" loc = "p152"; 
net "Register_return<31>" loc = "p154";
net "rst" loc = "p108";
net "clk" loc = "p76";